absl-py==1.0.0
amqp==5.1.1
anyio==3.5.0
asgiref==3.5.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
bs4==0.0.1
cachetools==5.0.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==36.0.2
cssselect==1.1.0
cssutils==2.4.0
cycler==0.11.0
dload==0.6
et-xmlfile==1.1.0
fastapi==0.71.0
fonttools==4.31.2
google-auth==2.6.2
google-auth-oauthlib==0.4.6
greenlet==1.1.2
grpcio==1.44.0
h11==0.13.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
jwt==1.3.1
kiwisolver==1.4.2
kombu==5.2.4
lxml==4.8.0
Markdown==3.3.4
MarkupSafe==2.1.1
matplotlib==3.5.1
numpy==1.21.2
oauthlib==3.2.0
opencv-python==4.5.5.64
openpyxl==3.0.10
packaging==21.3
Paginator==0.5.1
pandas==1.3.5
Pillow==9.0.1
premailer==3.10.0
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.1
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PyQt5-stubs==5.15.6.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
redis==3.5.3
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2
SQLAlchemy==1.4.29
standard==1.0.3
starlette==0.17.1
template==0.7.6
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
thop==0.0.31.post2005241907
toml==0.10.2
torch==1.11.0
torchvision==0.12.0
tqdm==4.63.2
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.15.0
vine==5.0.0
wcwidth==0.2.5
websockets==10.3
Werkzeug==2.1.1
wsproto==1.1.0
yagmail==0.15.277
